<div id="sidebar-wrapper" class="hidden-xs hidden-sm">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <h4>Menu</h4>
      <a href="menu-toggle" class="hidden-xs hidden-sm menu-toggle">
        <i class="fa fa-bars"></i>
      </a>
    </li>
    <li>
        <i class="fa fa-table icon" aria-hidden="true"></i> Dashboard
      </li>
    <li>
        <i class="fa fa-ticket icon" aria-hidden="true"></i> Statistiques
      </li>
    <li>
        <i class="fa fa-tasks icon" aria-hidden="true"></i> Aides
      </li>
  </ul>
</div>
<a href="menu-toggle" class="hidden menu-toggle show">
  <div class="menu-toggle-container">
    <h4>Menu <i class="fa fa-caret-right"></i></h4>
  </div>
</a>