<div class="banner">
  <div class="logo-home">
    <%= image_tag "logo.png" %>
  </div>
  <div class="divider"></div>
  <div class="banner-connect">
    <%= link_to "Connexion", new_user_session_path %>
  </div>
    <div class="banner-content">
      <h1>Garder un <b>Oeil</b> sur
      <br>
      vos <b>Commandes en ligne</b>!</h1>
       <%= link_to "Connexion", new_user_session_path, class: "brand-button" %>
       <div class="banner-illustration">
        <%= image_tag "cc_banner.png" %>
       </div>
    </div>
</div>
<div class="banner-features">

</div>
