/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// Wrappers

body{
background-color: #E2EBF2;
}

.wrapper {
  min-height: calc(100vh - 70px);
  // background-color: $background-color;
}

  a:focus {
  box-shadow: none;
  outline: none;
  text-decoration: none;
}
  input:focus {
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

input:active {
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-s {
  padding-top: 4em;
  padding-bottom: 4em;
}

.small-padded{
  padding-top: 10px;
}

.small-padded li{
  padding-top: 10px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.cursor:hover{
  cursor: pointer;
}