.google-button-border{
border-radius: 4px;
font-size: 18px;
font-weight: 300;
color: #EA4335;
border: 1px solid #EA4335;
letter-spacing: 1px;
padding: 6px 15px;
text-decoration: none;
}

.google-button-border:hover{
color: #EA4335!important;
text-decoration:none;
}