.modal-style{
  .modal-content {
    background-color: #E2EBF2;
    border-radius: 7px;
    color: #2C3947;
    border: none;
  }
}

.modal-style{
  .modal-header {
    border-bottom: 1px solid #3FC1C9;
    background: #3FC1C9;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: white;
  }
}
.modal-style{
  .form-inputs{
    padding-left:40px; 
    padding-right:40px;
  }
}

.modal-style{
  .form-control{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #fff;
    box-shadow: none;
  }
}