.modal-content {
  background-color: #2C3947;
  border-radius: 7px;
  color: white;
  border: none;
}

.modal-header {
  border-bottom: 1px solid #3FC1C9;
  background: #3FC1C9;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: white;
}

.form-inputs{
  padding-left:40px; 
  padding-right:40px;
}