<div class="wrapper-dashboard">
  <div class="header-title text-center">
          <h2>Facebook Bot</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12"> 
        <div class="facebook_button text-center">
          <div class="fb-send-to-messenger"
          messenger_app_id="<%= ENV['FACEBOOK_APP_ID'] %>"
          page_id="<%= ENV['FB_PAGE_ID'] %>"
          data-ref="<%= current_user.id %>"
          color="blue"
          size="standard" > 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
 
<script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= ENV["FACEBOOK_APP_ID"] %>,
          xfbml      : true,
          version    : 'v2.7'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
</script>