<div class="stats-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
        <div class="progress round">
          <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:25%">
            25% Complete
          </div>
        </div>
        <div class="progress round">
          <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:50%">
            50% Complete
          </div>
        </div>
        <div class="progress round">
          <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:75%">
            75% Complete
          </div>
        </div>
        <div class="progress round">
          <div class="progress-bar progress-bar-success progress-bar-striped active" style="width:100%">
            100% Complete
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
